// // Mixins
// @mixin flexCenter($direction) {
//   display: flex;
//   height: 80vh;
//   justify-content: center;
//   align-items: center;
//   flex-direction: $direction;
// }

header {
  // @include flexCenter(column);

  height: 80vh;
  color: $textColor;
  background-color: lightblue;

  button {
    background-color: $primaryBtn;  

    &:hover {
      background-color: $secondaryBtn;
    }
  }
} 